/svg2fxml-suite/nbproject/private/
/groovy-all/nbproject/private/
/svg2fxml-suite/build/
/groovy-all/build/
/ui/nbproject/private/
/ui/build/
/svg2fxml-suite/svg2fxml-converter/build/
/svg2fxml-suite/svg2fxml-converter/nbproject/private/